# ================================
# Python
# ================================

__pycache__/
*.py[cod]
*$py.class

# ================================
# Virtual Environment
# ================================

.venv/
venv/
env/

# ================================
# MLflow
# ================================

mlflow.db
mlruns/

# ================================
# Model Artifacts
# ================================

artifacts/
*.pkl
*.joblib
*.skops

# ================================
# IDE
# ================================

.vscode/
.idea/

# ================================
# OS
# ================================

.DS_Store
Thumbs.db

# ================================
# Logs
# ================================

*.log